@import './base.css';

#app {
    margin: 0 auto;
    font-weight: 16;
    background-color: #131516;
    color: white;
}

a,
.black {
    color: white;
    transition: 0.4s;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}